		*{
			margin: 0px;
			padding: 0px;
			box-sizing: border-box;
		}
		h1{
			font-family: sans-serif;
			font-family: Comic Sans MS;
			text-align: center;
			font-size: 20px;
			font-size: 40px;
			font-weight: bold;
			color: gray;
		} 
			color: black;
			margin-top: 15px;
		}
		/*Responsive Framework*/
		.row{
			width: 100%;
			margin-top: 75px;
			font-family:Comic Sans MS;
		}
		/*large devices*/
		@media (min-width: 992px) {
		   .col-lg-4 {
		   	position: relative;
		    float: left;
		    border: 1px solid black;
		    margin-left: 20px;
		    padding-top: 40px;
		    width: 30%;
		    padding-left: 30px;
		    padding-right: 30px;
		    background-color:yellow);}
		
		    #sub_head_1 {
		    	position: absolute;
		        margin: auto;
		    	border: 1px solid black;
		    	width: 25%;
		    	height: 15%;
		    	text-align: center;
		    	font-weight: bold;
		    	background-color: green;
		    	padding-top: 10px;
		    	margin-left: 67.3%;
		    	margin-top: -41px;
		
		    }
		    #sub_head_2 {
		        position: absolute;
		        margin: auto;
		    	border: 1px solid black;
		    	width: 25%;
		    	height: 15%;
		    	text-align: center;
		    	font-weight: bold;
		    	background-color: red;
		    	padding-top: 10px;
		    	margin-left: 67.3%;
		    	margin-top: -41px;
		    }
		
		    #sub_head_3 {
		    	position: absolute;
		        margin: auto;
		    	border: 1px solid black;
		    	width: 25%;
		    	height: 15%;
		    	text-align: center;
		    	font-weight: bold;
		    	background-color: gray;
		    	padding-top: 10px;
		    	margin-left: 67.3%;
		    	margin-top: -41px;
		    }
		
		
		  }
		  /********** Medium devices only **********/
		@media (min-width: 768px) and (max-width: 991px) {
		  .col-md-6,.col-md-12 {
		   position: relative;
		    float: left;
		    border: 1px solid black;
		    margin-left: 20px;
		    padding-top: 40px;
		    margin-bottom: 20px;
		    padding-left: 30px;
		    padding-right: 30px;
		    background-color: rgb(191, 191, 191);
		  }
		      #sub_head_1 {
		    	position: absolute;
		        margin: auto;
		    	border: 1px solid black;
		    	width: 25%;
		    	height: 15%;
		    	text-align: center;
		    	font-weight: bold;
		    	background-color: rgb(255, 26, 140);
		    	padding-top: 10px;
		    	margin-left: 67.3%;
		    	margin-top: -41px;
		
		    }
		      #sub_head_2 {
		        position: absolute;
		        margin: auto;
		    	border: 1px solid black;
		    	width: 25%;
		    	height: 15%;
		    	text-align: center;
		    	font-weight: bold;
		    	background-color: rgb(153, 255, 51);
		    	padding-top: 10px;
		    	margin-left: 67.3%;
		    	margin-top: -41px;
		    }
		
		    #sub_head_3 {
		    	position: absolute;
		        margin: auto;
		    	border: 1px solid black;
		    	width: 25%;
		    	height: 28%;
		    	text-align: center;
		    	font-weight: bold;
		    	background-color: rgb(255, 26, 26);
		    	padding-top: 10px;
		    	margin-left: 71.3%;
		    	margin-top: -41px;
		    }
		  .col-md-6 {
		    width: 46%;
		  }
		  .col-md-12 {
		    width: 94.5%;
		  }
		}
		
		@media (max-width: 767px){
		
		   .col-sd-12 {
		   	width: 96%;
		    position: relative;
		    float: left;
		    border: 1px solid black;
		    margin-left: 20px;
		    padding-top: 40px;
		    margin-bottom: 20px;
		    padding-left: 30px;
		    padding-right: 30px;
		    background-color: rgb(191, 191, 191);
		  }
		
		      #sub_head_1 {
		        position: absolute;
		        margin: auto;
		    	border: 1px solid black;
		    	width: 25%;
		    	height: 25%;
		    	text-align: center;
		    	font-weight: bold;
		    	background-color: rgb(255, 26, 140);
		    	padding-top: 10px;
		    	margin-left: 70.6%;
		    	margin-top: -41px;
		
		    }
		      #sub_head_2 {
		        position: absolute;
		        margin: auto;
		    	border: 1px solid black;
		    	width: 25%;
		    	height: 25%;
		    	text-align: center;
		    	font-weight: bold;
		    	background-color: rgb(153, 255, 51);
		    	padding-top: 10px;
		    	margin-left: 70.6%;
		    	margin-top: -41px;
		    }
		
		    #sub_head_3 {
		    	position: absolute;
		        margin: auto;
		    	border: 1px solid black;
		    	width: 25%;
		    	height: 25%;
		    	text-align: center;
		    	font-weight: bold;
		    	background-color: rgb(255, 26, 26);
		    	padding-top: 10px;
		    	margin-left: 70.6%;
		    	margin-top: -41px;
		    }